.App {
	text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.user_block {
	display: flex;
	width: 450px;
	margin: auto;
	align-items: center;
	border: 2px solid rgb(98, 236, 98);
	justify-content: space-between;
}

.block_users {
	width: 400px;
}

.users_elem {
	margin: 10px;
	padding: 10px;
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	border: black solid 1px;
}

.btn_delet {}

.users_title {
	font-size: 22px;
	color: blueviolet;
	cursor: pointer;
}

.img_users {
	width: 80px;
}

.btn_add {
	margin-top: 15px;
}

.img_ready {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0;
	right: 0;
}